!!! 5
html
  head
    title Verimail
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="app.js")
  body
    p.
      Enter your email address below and you will be sent a message with a link to verify it.
    form.js-verimail-query
      input(type="email", placeholder="ex: john.doe@example.com")
      input(type="submit")
